<a href="https://colab.research.google.com/github/norayehia/Machine-learning-secuirty-data-intrusion/blob/main/decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/aics/assinmen1/traindata.csv')
df.head(5)

   ID  duration protocol_type  ... dst_host_srv_rerror_rate level  Class
0   0         0           tcp  ...                     0.01    21      0
1   1         0           tcp  ...                     0.01    21      0
2   2         0           tcp  ...                     0.00    11      1
3   3         0           tcp  ...                     0.02    21      0
4   4         0           tcp  ...                     1.00    11      0

[5 rows x 44 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()


#df.drop(columns='(ID,duration,protocol_type,service,flag,land,urgent,hot,num_failed_logins,num_compromised,root_shel,su_attempted,num_root,num_file_creations,num_shells,num_access_files,num_outbound_cmds,is_host_login,is_guest_login,rerror_rate,srv_rerror_rate)', inplace=True)

In [ ]:
import numpy as np
'dst_bytes'

'dst_bytes'

In [ ]:
df.drop(['ID','duration','protocol_type','service','flag','land','urgent','hot','num_failed_logins','num_compromised','root_shell','su_attempted','num_root','num_file_creations','num_shells','num_access_files','num_outbound_cmds','is_host_login','is_guest_login','rerror_rate','srv_rerror_rate'], axis='columns', inplace=True)
df.head(5)

   src_bytes  dst_bytes  wrong_fragment  ...  dst_host_srv_rerror_rate  level  Class
0        295       2584               0  ...                      0.01     21      0
1        312        839               0  ...                      0.01     21      0
2       1225       2451               0  ...                      0.00     11      1
3        293        296               0  ...                      0.02     21      0
4          0          0               0  ...                      1.00     11      0

[5 rows x 23 columns]

In [ ]:
from scipy.stats import zscore
from sklearn.preprocessing import MinMaxScaler

In [ ]:
def preprocessing_df(df):

#df= np.log(df)
   df['src_bytes'] = np.log(df['src_bytes'])
# Show the dataframe
   df['dst_bytes'] = np.log(df['dst_bytes'])
# Show the dataframe
   df['src_bytes'] = zscore(df['src_bytes'])
   df['dst_bytes'] = zscore(df['dst_bytes'])
   df['count'] = zscore(df['count'])
   df['srv_count'] = zscore(df['srv_count'])

# create a scaler object
   scaler = MinMaxScaler()
#df_norm = pd.DataFrame(scaler.fit_transform(df_cars), columns=df_cars.columns)
#df['dst_host_count'] = scaler.fit_transform(df['dst_host_count'])

   df['dst_host_count'] = scaler.fit_transform(df[['dst_host_count']])
   df['dst_host_srv_count'] = scaler.fit_transform(df[['dst_host_srv_count']])
   return df



df=preprocessing_df(df)

NameError: ignored

In [ ]:
df.head()

   src_bytes  dst_bytes  wrong_fragment  ...  dst_host_srv_rerror_rate  level  Class
0        NaN        NaN               0  ...                      0.01     21      0
1        NaN        NaN               0  ...                      0.01     21      0
2        NaN        NaN               0  ...                      0.00     11      1
3        NaN        NaN               0  ...                      0.02     21      0
4        NaN        NaN               0  ...                      1.00     11      0

[5 rows x 23 columns]

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:726: RuntimeWarning: divide by zero encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.7/dist-packages/numpy/core/_methods.py:202: RuntimeWarning: invalid value encountered in subtract
  x = asanyarray(arr - arrmean)
/usr/local/lib/python3.7/dist-packages/scipy/stats/stats.py:2419: RuntimeWarning: invalid value encountered in subtract
  return (a - mns) / sstd

In [ ]:
from scipy.stats import zscore
#df= np.log(df)
df['src_bytes'] = np.log10(df['src_bytes'])
# Show the dataframe
df['dst_bytes'] = np.log10(df['dst_bytes'])
# Show the dataframe
df['src_bytes'] = zscore(df['src_bytes'])
df['dst_bytes'] = zscore(df['dst_bytes'])
df['count'] = zscore(df['count'])
df['srv_count'] = zscore(df['srv_count'])
from sklearn.preprocessing import MinMaxScaler
# create a scaler object
scaler = MinMaxScaler()
#df_norm = pd.DataFrame(scaler.fit_transform(df_cars), columns=df_cars.columns)
#df['dst_host_count'] = scaler.fit_transform(df['dst_host_count'])

df['dst_host_count'] = scaler.fit_transform(df[['dst_host_count']])
df['dst_host_srv_count'] = scaler.fit_transform(df[['dst_host_srv_count']])
display(df)
#df.drop(['land','duration','protocol_type','service','flag','wrong_fragment','num_failed_logins','num_compromised','su_attempted','num_root','root_shell','num_shells','urgent','num_outbound_cmds','is_host_login','ID'], axis='columns', inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:726: RuntimeWarning: divide by zero encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.7/dist-packages/numpy/core/_methods.py:202: RuntimeWarning: invalid value encountered in subtract
  x = asanyarray(arr - arrmean)
/usr/local/lib/python3.7/dist-packages/scipy/stats/stats.py:2419: RuntimeWarning: invalid value encountered in subtract
  return (a - mns) / sstd

       src_bytes  dst_bytes  ...  level  Class
0            NaN        NaN  ...     21      0
1            NaN        NaN  ...     21      0
2            NaN        NaN  ...     11      1
3            NaN        NaN  ...     21      0
4            NaN        NaN  ...     11      0
...          ...        ...  ...    ...    ...
22997        NaN        NaN  ...     21      0
22998        NaN        NaN  ...     19      1
22999        NaN        NaN  ...     21      1
23000        NaN        NaN  ...     17      0
23001        NaN        NaN  ...     20      0

[23002 rows x 23 columns]

In [ ]:
X = df.drop(['Class'], axis=1)

y = df['Class']

In [ ]:
# split into train test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4,random_state=0,stratify=y)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
#max_depth=15,random_state=0
clf = DecisionTreeRegressor(max_depth=15,random_state=0)
#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [ ]:
"""# decision tree for feature importance on a regression problem
from sklearn.datasets import make_regression
from sklearn.tree import DecisionTreeRegressor
from matplotlib import pyplot
# get importance
importance = clf.feature_importances_
# summarize feature importance
for i,v in enumerate(importance):
	print('Feature: %0d, Score: %.5f' % (i,v))
# plot feature importance
pyplot.bar([x for x in range(len(importance))], importance)
pyplot.show()"""

"# decision tree for feature importance on a regression problem\nfrom sklearn.datasets import make_regression\nfrom sklearn.tree import DecisionTreeRegressor\nfrom matplotlib import pyplot\n# get importance\nimportance = clf.feature_importances_\n# summarize feature importance\nfor i,v in enumerate(importance):\n\tprint('Feature: %0d, Score: %.5f' % (i,v))\n# plot feature importance\npyplot.bar([x for x in range(len(importance))], importance)\npyplot.show()"

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
from sklearn.metrics import classification_report
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy: 0.9960873818063254
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      4801
           1       0.99      1.00      1.00      4400

    accuracy                           1.00      9201
   macro avg       1.00      1.00      1.00      9201
weighted avg       1.00      1.00      1.00      9201

In [ ]:
clf1 = DecisionTreeRegressor(max_depth=15,random_state=0)
#Train the model using the training sets y_pred=clf.predict(X_test)
clf1.fit(X,y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=15,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

In [ ]:
import pandas as pd
test=pd.read_csv('/content/drive/MyDrive/aics/assinmen1/testdata.csv')
test.head()

   ID  duration  ... dst_host_srv_rerror_rate level
0   0         4  ...                      0.0    16
1   1         0  ...                      0.0    21
2   2         0  ...                      0.0    17
3   3         0  ...                      0.0    21
4   4         0  ...                      0.0    18

[5 rows x 43 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()

test.drop(['ID','duration','protocol_type','service','flag','land','urgent','hot','num_failed_logins','num_compromised','root_shell','su_attempted','num_root','num_file_creations','num_shells','num_access_files','num_outbound_cmds','is_host_login','is_guest_login','rerror_rate','srv_rerror_rate'], axis='columns', inplace=True)
test.head(5)

   src_bytes  dst_bytes  ...  dst_host_srv_rerror_rate  level
0         30         93  ...                       0.0     16
1          0          0  ...                       0.0     21
2         52         54  ...                       0.0     17
3        367        588  ...                       0.0     21
4       1008          0  ...                       0.0     18

[5 rows x 22 columns]

In [ ]:
y_pred=clf1.predict(test)

In [ ]:
import pandas as pd
pd.DataFrame(y_pred, columns=['Class']).to_csv('prediction.csv')